<h1>All Clients</h1>

<hr>

<ul>
  #foreach ($client in $clients)
    <li><a href="/clients/$client.getClientId()">$client.getClientName()</a></li>
  #end
</ul>

<hr>

<a href="/clients/new" class="btn btn-primary">Add a New Client</a>
