<h1>All Clients</h1>

<hr>

<ul>
  #foreach ($client in $clients)
    <li><a href="/stylists/$client.getStylistId()/clients/$client.getClientId()">$client.getClientName()</a></li>
  #end
</ul>

<hr>

<a href="/stylists" class="btn btn-primary">View the List of Stylists</a>
