<h1>Add a New Stylist</h1>

<hr>

<form action="/stylists" method="post">
  <label for="stylist_name">Stylist name:</label>
  <input id="stylist_name" name="stylist_name" type="text">
  <button type="submit" class="btn btn-success">Add the New Stylist</button>
</form>
