<h1>$stylist.getStylistName()</h1>

<ul>
  #foreach($client in $stylist.getClients())
  <li><a href="/clients">$client.getClientName()</a></li>
  #end
</ul>

<a href="/stylists/$stylist.getStylistId()/clients/new" class="btn btn-primary">Add a New Client</a>
<a href="/stylists" class="btn btn-primary">View the List of Stylists</a>
